<div class="footer">
  <div class="footer-links">
    <% %w(github instagram facebook twitter linkedin).each do |social_media| %>
    <% link_to do%>
    <i class="fa fa-<%= social_media %>"></i>
    <% end %>
    <% end %>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
