---
title: Le Wagon - Middleman - Team
---

<div id="team">
  <ul class="list-inline text-center">
    <li>
      <%= image_tag "https://avatars2.githubusercontent.com/u/32221605?v=4", class: "img-circle img-small" %>
      <h3>Arjan Visser</h3>
    </li>
  </ul>
</div>
